@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-icon {
    @apply py-2 px-2 md:m-2 duration-300 w-fit h-12 m-auto;
    line-height: 2rem;
}

.nav-icon:hover {
    @apply text-ruby;
}



#expandButton {
    border: none;
    background: transparent;
    cursor: pointer;
}

#arrow {
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
}

#expandButton.collapsed #arrow {
    transform: rotate(0.5turn);
}

.nav-hidden {
    @apply scale-0;
}